/* Global Style */
body, html {
    height: 100vh;
    width: 100vw;
}

/* header */
.bg{
    /* The image used */
    background-image: url("./header-bg.jpg")   ;
    

    /* Full height */
    height: 80%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

/* footer */
.btn .btn-outline-light .btn-floating .m-1 .facebook{
    background-image: url("./facebook.png");
    background-color: #fff;
}